<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}{{ site.logo }}"
    }
</script>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}",
      "description":"Description",
      "isAccessibleForFree":true,
      "inLanguage":"en"
    }
</script>


{%- if pageData.toolName -%}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"BreadcrumbList",
  "itemListElement":[
     {"@type":"ListItem","position":1,"name":"Home","item":"https://webzify.org/"},
     {"@type":"ListItem","position":2,"name": "{{pageData.toolName}}","item":"https://webzify.org{{page.permalink}}"}
     ]
 }
</script>
{%- endif -%}


{%- if pageData.howTo -%}
{%- if pageData.howTo.size > 0-%}
{%- assign howTo = pageData.howTo -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "HowTo",
  "name": "{{ howTo.heading }}",
  "image": {
      "@type": "ImageObject",
      "url": "{{ howTo.logoImageUrl }}"
  },
  "step": [
    {% for step in howTo.steps %}
      {
        "@type": "HowToStep",
         "position": {{forloop.index}},
        "text": "{{ step }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{%- endif -%}
{%- endif -%}


{%- if pageData.faqs -%}
{%- if pageData.faqs.size > 0 -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {%- for item in pageData.faqs -%}
      {%- if forloop.last == true -%}
        {
          "@type": "Question",
          "name": "{{ item.question | replace: '"', "'" }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ item.answer | replace: '"', "'" }}"
          }
        }
      {%- else -%}
        {
          "@type": "Question",
          "name": "{{ item.question | replace: '"', "'" }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ item.answer | replace: '"', "'" }}"
          }
        },
      {%- endif -%}
    {%- endfor -%}
  ]
}
</script>
{%- endif -%}
{%- endif -%}